workflow/SOC-Automation-workflow.json
{
  "name": "My workflow",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "843085b0-77-c99a549747f0",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -224,
        -48
      ],
      "id": "",
      "name": "Webhook",
      "webhookId": ""
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "models/gemini-2.5-flash",
          "mode": "list",
          "cachedResultName": "models/gemini-2.5-flash"
        },
        "messages": {
          "values": [
            {
              "content": "Act as a Tier 1 SOC analyst assistant. When provided with a security alert or incident details (including indicators of compromise ,logs ,or metadata),perform the following steps:\n\nSummarize the alert - Provide a clear summary of what triggered the alert ,which systems/users are affected and the nature of the activity(e.g./suspicious login ,malware detection, lateral movement).\n\nEnrich with threat intelligence - Correlate any IOCs(IP addresses ,domains ,hashes)with known threat intel sources .For any IP enrichment, use the tool named 'AbuseIPDB-Enrichment'. Highlight if the indicators are associated with known malware or threat actors.\n\nAssess severity - Based on MITRE ATT&CK mapping ,identify tactics/techniques, and provide an initial severity rating(Low, Medium, High, Critical).\n\nRecommend next action - Suggest investigation steps and potential containment actions."
            },
            {
              "content": "Format output clearly - Return findings in a structured format (Summary, IOC Enrichment, Severity Assessment, Recommended Actions)."
            },
            {
              "content": "=Alert: {{ $json.body.search_name }}\nAlert Details: {{ JSON.stringify($json.body.result,['_time','user','ComputerName'],2)}}\nSource IP: 80.94.93.233"
            }
          ]
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.googleGemini",
      "typeVersion": 1.2,
      "position": [
        0,
        -64
      ],
      "id": "",
      "name": "Message a model",
      "credentials": {
        "googlePalmApi": {
          "id": "",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "select": "channel",
        "channelId": {
          "__rl": true,
          "value": "",
          "mode": "list",
          "cachedResultName": "alerts"
        },
        "text": "={{ $json.content.parts[0].text }}",
        "otherOptions": {}
      },
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.5,
      "position": [
        416,
        -64
      ],
      "id": "",
      "name": "Send a message",
      "webhookId": "",
      "credentials": {
        "slackApi": {
          "id": "",
          "name": "Slack account"
        }
      }
    },
    {
      "parameters": {
        "url": "https://api.abuseipdb.com",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "ipAddress",
              "value": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('parameters0_Value', ``, 'string') }}"
            },
            {
              "name": "maxAgeInDays",
              "value": "1"
            },
            {
              "name": "verbose"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Key",
              "value": ""
            },
            {
              "name": "Accept",
              "value": "application/json"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequestTool",
      "typeVersion": 4.4,
      "position": [
        96,
        144
      ],
      "id": "",
      "name": "AbuseIPDB-Enrichment"
    }
  ],
  "pinData": {
    "Webhook": [
      {
        "json": {
          "headers": {
            "accept-encoding": "identity",
            "content-length": "421",
            "host": "192.168.:5678",
            "content-type": "application/json",
            "user-agent": "",
            "connection": "close"
          },
          "params": {},
          "query": {},
          "body": {
            "sid": "scheduler__spunk__search_2_at0_2",
            "search_name": "Test-Brute-Force",
            "app": "search",
            "owner": "spunk",
            "results_link": "",
            "result": {
              "_time": "1781781741.065",
              "ComputerName": "",
              "user": "",
              "src_ip": "192.168.137.1",
              "count": "1"
            }
          },
          "webhookUrl": "",
          "executionMode": "test"
        },
        "pairedItem": {
          "item": 0
        }
      }
    ]
  },
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Message a model",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Message a model": {
      "main": [
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AbuseIPDB-Enrichment": {
      "ai_tool": [
        [
          {
            "node": "Message a model",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": ""
  },
  "nodeGroups": [],
  "id": "",
  "tags": []
}
